SURREALDB_HOST=http_db

SURREALDB_NAMESPACE=main
SURREALDB_NAME=main
SURREALDB_USER=user
SURREALDB_PASSWORD=password
SURREALDB_AUTH_LEVEL=root/ns/record

# for bucket setup
SURREAL_CAPS_ALLOW_EXPERIMENTAL=files
SURREAL_BUCKET_FOLDER_ALLOWLIST=C:\Users\User\app\data\bucket
ORIGIN=""

# embedding app
FASTAPI_PORT=8030
