HTTP_PROTO=http
WS_PROTO=ws
DB_PORT=8000
DB_ENDPOINT=localhost

HTTP_DB=${HTTP_PROTO}://${DB_ENDPOINT}:${DB_PORT}
WS_DB=${WS_PROTO}://${DB_ENDPOINT}:${DB_PORT}

#because surrealkit is stupid fill manually
SURREALDB_HOST=http_db

SURREALDB_NAMESPACE=main
SURREALDB_NAME=main
SURREALDB_USER=root
SURREALDB_PASSWORD=root
SURREALDB_AUTH_LEVEL=root/ns/record

# for bucket setup
SURREAL_CAPS_ALLOW_EXPERIMENTAL=files
SURREAL_BUCKET_FOLDER_ALLOWLIST=C:\Users\User\app\data\bucket
ORIGIN=""

# embedding app
FASTAPI_PORT=8030
